<div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">1. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">2. </span>Researchers propose a novel fault diagnosis algorithm for pulse width modulation converter</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A research team led by Prof. Gao Ge and Jiang Li from the Hefei Institutes of Physical Science of the Chinese Academy of Sciences has investigated the fault diagnosis of a pulse width modulation converter and proposed a neural ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-fault-diagnosis-algorithm-pulse-width.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">3. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">4. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">5. </span>Researchers propose a novel fault diagnosis algorithm for pulse width modulation converter</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A research team led by Prof. Gao Ge and Jiang Li from the Hefei Institutes of Physical Science of the Chinese Academy of Sciences has investigated the fault diagnosis of a pulse width modulation converter and proposed a neural ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-fault-diagnosis-algorithm-pulse-width.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">6. </span>Researchers propose a novel fault diagnosis algorithm for pulse width modulation converter</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A research team led by Prof. Gao Ge and Jiang Li from the Hefei Institutes of Physical Science of the Chinese Academy of Sciences has investigated the fault diagnosis of a pulse width modulation converter and proposed a neural ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-fault-diagnosis-algorithm-pulse-width.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">7. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">8. </span>Researchers propose a novel fault diagnosis algorithm for pulse width modulation converter</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A research team led by Prof. Gao Ge and Jiang Li from the Hefei Institutes of Physical Science of the Chinese Academy of Sciences has investigated the fault diagnosis of a pulse width modulation converter and proposed a neural ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-fault-diagnosis-algorithm-pulse-width.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">9. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">10. </span>Understanding friction, the unavoidable enemy</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">For machines with mechanical elements, friction is an unavoidable enemy. It is a major source of service failure and can reduce the lifespan of any machinery, from bicycles and cars to airplanes and assembly lines.</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-friction-unavoidable-enemy.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>