<div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">1. </span>Data-driven decision-making process can be easier in the building services sector</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">The rapid change in technology use and required skills for professionals in the field of building services makes continuous learning an essential requirement. Professionals are busy with ongoing project work, which makes ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-data-driven-decision-making-easier-sector.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">2. </span>Making Traffic Jams a Thing of the Past – AI Traffic Light System Could Drastically Reduce Congestion</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A new artificial intelligence system reads live camera footage and adapts the lights to compensate In 2014, Americans spent 6.9 billion hours trapped in traffic….</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/making-traffic-jams-a-thing-of-the-past-ai-traffic-light-system-could-drastically-reduce-congestion/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">3. </span>Early Detection of Arthritis Now Possible Thanks to Artificial Intelligence</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">Neural network learns to differentiate between healthy and inflamed bones using finger joints. Researchers have been able to teach artificial intelligence neural networks to distinguish…</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/early-detection-of-arthritis-now-possible-thanks-to-artificial-intelligence/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">4. </span>Faster Than the Speed of Light: Overcoming the Physical Limitations of Today’s Telecommunications</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">With a grant from Independent Research Fund Denmark, a team of researchers and experts from industry and Aarhus University will try to solve the fundamental…</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/faster-than-the-speed-of-light-overcoming-the-physical-limitations-of-todays-telecommunications/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">5. </span>Do Humans and AI Think Alike?</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">A new technique compares the reasoning of a machine-learning model to that of a human, so the user can see patterns in the model’s behavior….</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/do-humans-and-ai-think-alike/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">6. </span>MIT Scientists Discover That Computers Can Understand Complex Words and Concepts</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">Models for natural language processing use statistics to collect a wealth of information about word meanings. In “Through the Looking Glass,” Humpty Dumpty says scornfully,…</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/mit-scientists-discover-that-computers-can-understand-complex-words-and-concepts/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">7. </span>Physicists use quantum simulation tools to study, understand exotic state of matter</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">Thomas Iadecola worked his way through the title of the latest research paper that includes his theoretical and analytical work, patiently explaining digital quantum simulation, Floquet systems and symmetry-protected topological ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-07-physicists-quantum-simulation-tools-exotic.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">8. </span>Helping autonomous vehicles navigate tricky highway merges</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">If autonomous vehicles are ever going to achieve widespread adoption, we need to know they are capable of navigating complex traffic situations, such as merging into heavy traffic when lanes disappear on a highway. To that ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://techxplore.com/news/2022-08-autonomous-vehicles-tricky-highway-merges.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">9. </span>MIT Expert on Powerful Computers and Innovation</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">Q&A: MIT’s Neil Thompson on Computing Power and Innovation Innovation in many industries has been fueled by rapid increases in the speed and power of…</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://scitechdaily.com/mit-expert-on-powerful-computers-and-innovation/" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div><div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;">
                 <div style="height: 100%; padding: 30px 30px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:25px 10px 6px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #f8c121; line-height: 140%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 140%; text-align: left;"><strong><span style="font-size: 24px; line-height: 33.6px;"><span style="font-size: 28px; line-height: 39.2px;">10. </span>How have attitudes toward US immigration changed?</span></strong></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div style="color: #868990; line-height: 170%; text-align: left; word-wrap: break-word;">
                                   <p style="font-size: 14px; line-height: 170%; text-align: justify;"><span style="font-size: 16px; line-height: 27.2px;">Hostility to immigrants isn't new to the United States. In 1896, Henry Cabot Lodge warned on the Senate floor that the "mental and moral qualities" of Americans would be endangered by the "wholesale infusion of races whose ...</span></p>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="u-row-container" style="padding: 0px;background-color: transparent">
     <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;">
           <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
              <div style="height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                 <div style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">
                    <table style="font-family:'Raleway',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                       <tbody>
                          <tr>
                             <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Raleway',sans-serif;" align="left">
                                <div align="center">
                                   <a href="https://phys.org/news/2022-08-attitudes-immigration.html" target="_blank" style="box-sizing: border-box;display: inline-block;font-family:'Raleway',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #f8c121; background-color: #0f0f0f; border-radius: 15px;-webkit-border-radius: 15px; -moz-border-radius: 15px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                      <span style="display:block;padding:10px 20px;line-height:120%;">
                                         <p style="font-size: 14px; line-height: 120%;"><span style="font-size: 18px; line-height: 21.6px;">Continue Reading</span></p>
                                      </span>
                                   </a>
                                </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>